@page "/"

<PageTitle>Welcome | Meet Kamal Today</PageTitle>


<SurveyPrompt Title="How is Blazor working for you?" />


<div style="border: 1px solid gray; padding: 20px">
    <h4>Course 1</h4>
    <p>Description of course 1</p>
</div>

