@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="text-align:left">Write Files</h1>
    @using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="upload" class="form-control" /><br/>
        <button class="form-control" type="submit">Upload</button>
    }

</div>
